div {
    background-color: #2e3d4a;
}

.searchBarDisplay {
    width: 1100px;
    height: 80px;
    background-color: white;
    border-radius: 15px;
}

.deliverTo {
    width: 15%;
    height: 80px;
    background-color: rgb(6, 159, 255);
    border-radius: 15px;
}

#nav-global-location-slot {
    background-color: rgb(6, 159, 255);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* Button Box */
#nav-global-location-popover-link {
    height: 100%;
    width: 100%;
}

/* Button Box - Text*/
#glow-ingress-block{
    background-color: rgb(37, 109, 234);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

.searchBar {
    width: 50%;
    height: 80px;
    border-radius: 15px;
}

#twotabsearchtextbox {
    width: 100% !important;
    height: 80px !important;
}

.language {
    width: 10%;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.nav-line-2 {
    position: static !important;
}

.orders {
    width: 10%;
    height: 80px;
    border-radius: 15px;
    background-color: aqua;
}

.cart {
    width: 10%;
    height: 80px;
    border-radius: 15px;
    background-color: aqua;
}