div {
    background-color: #243747;
}

/*Center search bar*/
#nav-belt, #navbar .nav-belt {
    position: relative !important;
    width: 80% !important;
    font-size: 14px !important;
    z-index: 5 !important;
}


